@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NTUyNzg2OA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080")
    no-repeat center center;
  background-size: 150%;
  background-position: 0% 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  animation: backgroundMove 30s ease-in-out alternate infinite;
}

@keyframes backgroundMove {
  to {
    background-position: 100% 50%;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.container {
  margin-top: 5rem;
  max-width: calc(100% - 2rem);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  max-width: 16ch;
  line-height: 1;
  color: #888888;
  text-transform: capitalize;
  margin-bottom: 8rem;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  height: 50px;
  width: 100%;
  max-width: 20rem;
  margin-inline: auto;
  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.input-container input {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  font-family: inherit;
  padding: 1rem 1.5rem;
  height: 100%;
  flex: 1;
  border: none;
  color: #fafafa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.input-container input:focus {
  outline: none;
  background-color: #0a0a0a;
}

.input-container .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background: #222;
  color: #fafafa;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5), -1px -1px 2px rgba(100, 100, 100, 0.5);
}

.input-container .btn:active {
  transform: scale(0.96);
}

.weather {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  height: 9rem;
  max-width: 25rem;
  margin: 2rem auto;
  text-align-last: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background: #0a0a0a;
  border-radius: 20px;
}

.weather .placeholder {
  font-size: 1rem;
  color: rgba(100, 100, 100, 0.8);
  text-transform: uppercase;
}

.weather .city__name {
  color: #888;
}

.weather .temp {
  font-family: "Alfa Slab One", cursive;
  color: #fafafa;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.weather .temp__status {
  font-size: 5rem;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #0a0a0a;
  color: #fafafa;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

footer a {
  color: #fafaaf;
}

@media (max-width: 700px) {
  html {
    font-size: 90%;
  }

  body {
    background-size: 200%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 80%;
  }

  body {
    background-size: 300%;
  }
}

@media (max-width: 400px) {
  body {
    background-size: 350%;
  }
}

